/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require bootstrap-datetimepicker
 *= require font-awesome
 */
 $white: #FFFFFF;
 $highlight_1: #fd7473;  // Red Colour
 $highlight_2: #fec951;  // Yellow Colour
 $highlight_3: #47b8e0;  // Blue Colour
 $highlight_4: #9f68d0;  // Purple Colour
 @import "bootstrap-sprockets";
 @import "bootstrap";


 .border {
  height: 6px;
  border: 0;
  background-color: $highlight_1;
  background-image: 
        linear-gradient(
          to right,
          $highlight_1,
          $highlight_1 25%, 
          $highlight_2 25%,
          $highlight_2 50%,
          $highlight_2 50%,
          $highlight_3 75%,
          $highlight_4 75%,
          $highlight_4 100%,
          $highlight_4 100%
          );

      -webkit-background-size: 50% 100%;
      -moz-background-size: 50% 100%;
      background-size: 50% 100%;
}

#notice_wrapper {
  width: 100%;
  position: absolute;
  background: rgba(208,103,82, 0.85);
  z-index: 999;
  p {
    color: $white;
    text-align: center;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 1rem 0;
  }
}
